    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family:Arial, Helvetica, sans-serif;
background-color: #000000;
color: white;
}
.container{
    width: 100%;
    height: 90vh;
    background:radial-gradient(circle, rgba(2,0,36,0.6674019949776786) 7%, rgba(0,0,0,0.7318277652858018) 100%),url("./2.jpg");
    border-bottom:10px solid #373838;
}
.header{
    height: 72px;
    
    padding:12px 30px;
    display:flex;
    flex-direction: row;
}
.logo{
    width: 138px; 
    height: 50px;
    margin-top: 15px;
    
}
.logo img{
    width:100% ;
    height: 100%;
}
.logo-container{
    width: 50%;

}
.head-btn{
    display: flex;
    justify-content: end;
    width: 50%;
}
.header-content{
    color: white;
     margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.header-content h1{
    text-align: center;
    font-size: 4rem;
    font-weight:700;
    
    color:white ;
    display: block;
}
h1{
    font-size: 3.125rem;
    font-weight:700;
    
    margin-left: 15px;
    color:white ;
    display: block;

}

#mail-box{
    height: 60px;
    width: 450px;
    font-size:15px ;
    padding-left:8px;
}
.mail-btn{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 5px;
    
}
#getstd{
    background-color: red;
    height: 60px;
    font-size: 1.65rem;
    color: white;
    padding: 5px 8px;
    border: none;
    
}
h3{
    font-size: 1.675rem;
    font-weight:400;
     margin-top:20px ;
}
p{
    font-size: 1.2rem;
    padding-bottom: 20px;
    margin-top: 20px;
}
#engbtn{
padding: 1px 15px;
font-size: .875rem;
background-color:transparent;
color: white;
border:1px solid white;
border-radius: 3px;
margin-top: 15px;

}
#signbtn{
padding: 1px 15px;
font-size: .875rem;
background-color:red;
color: white;
border:none;
margin-left:30px;
border-radius:4px;
margin-top:15px;
}
.section1{
    width:100%;
    height:30rem;
    display: flex;
    flex-direction: row;
    border-bottom:10px solid #373838;
}
.contents{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;


    }
.tv{
    width: 50%;
    
        
}
#sec1-image{
    width: 60%;
    height: 100%;
    margin-left:150px;
    }
p{
    font-size:22px;
    line-height:40px;
}
.section2{
    width:100%;
    height:30rem;
    display: flex;
    flex-direction: row;    
    border-bottom:10px solid #373838;

}


.mobile
{
    width: 50%; 
    position: relative;
}
.sec2-pic2
{
    align-items: center;
    background: #000;
    border: 2px solid hsla(0,0%,100%,.25);
    border-radius: 0.75em;
    bottom: 30%;
    box-shadow: 0 0 2em 0 #000;
    display: flex;
    left: 55%;
    margin: 0 auto;
    min-width: 15em;
    padding: 0.25em 0.65em;
    position: absolute;
    transform: translateX(-50%);
    width: 40%;
}
.sec2-pic2 img{
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 1em 0 0;
    height: 4.5em;
}
#download-gif{
    height: 3.75em;
}
#sec2text{
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.3em 0;
}
#sec2text h2{
    font-size: 15px;
}
#sec2text p{
    margin: 0;
    padding: 0;
}
.contents2{
width: 50%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.sec2-image{
    width: 60%;
    height: 90%;
    margin-left:200px;
}
#p2{
    font-size:25px;
    line-height:40px;
}
.section3{
    width:100%;
    height:30rem;
    display: flex;
    flex-direction: row;
    border-bottom:10px solid #373838;
}
.contents3{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
}
#p3{
    font-size:22px;
    line-height:40px;
}
.tv3{
    width: 50%;
}
#sec3-image{
    width: 60%;
    height: 100%;
    margin-left:150px;
    }
    .section4{
        width:100%;
        height:30rem;
        display: flex;
        flex-direction: row;    
        border-bottom:10px solid #373838;
    
    }
    .anime
    {
        width: 50%; 
    }
    .contents4{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    
    }
    .sec4-image{
        width: 60%;
        height: 90%;
        margin-left:250px;
        margin-top: 30px;

    }
    #p4{
        font-size:25px;
        line-height:40px;
        
    }
.section5{
    width: 100%;
    height:110vh;
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid #373838;

}
#sec5-head{
    text-align: center;
    margin-top: 50px;
}
.element{
margin-top:30px;
}
.elements{
    width: 55%;
    height: 70px;
    background-color:#373838 ;
    margin: auto;
    margin-top: 10px;
    padding-top: 20px;
    padding-left:25px;
    

}
.faq-question{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#sec5-p
{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 70px;
}
.sec5-email-btn{
    display: flex;
    flex-direction: row;
    margin-top:0;
    font-size: 5px;
    justify-content: center;
    height: 30px;
    
    
}
#sec5-mail-box{
    height: 65px;
    width: 500px;
    font-size:15px ;
    padding-left:8px;
}
#sec5-getstd{
    background-color: red;
    height: 65px;
    font-size: 1.65rem;
    color: white;
    padding: 5px 8px;
    border: none;
    width: 250px;
}
footer{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    overflow-x: hidden;
    
}
.footer-wrapper{
    display: flex;
    flex-direction:row;
    justify-content: center;
    width: 100%;
}
.footerleft{
    width: 50%;
    display:flex;
   flex-direction: row;
   justify-content:end;
   

}
.fldiv1 ul{
    list-style:none ;
}
.fldiv2 ul{
    list-style: none;
    
}
.fl-line
{
line-height: 2;
font-size: 14px; 
color: #727372;
}

.footerright{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:start;
    
     
}
.frdiv1 ul{
    list-style:none ;
}
.frdiv2 ul{
    list-style: none;

  
}
.fr-line
{
line-height: 2;
font-size: 14px; 
color: #727372;
}
#footer-p{
    width: 100%;
    font-size: 16px;
    text-align: left;
    margin-left: 50%;
    color: #727372;
}
.frdiv1,.frdiv2,.fldiv1,.fldiv2{
    width: 25%;

}
.footer-btn{
    display: flex;
    align-items: flex-start;
    height: 100px;
    
} 
#engbtn2{
    padding: 10px 30px;
    font-size: 1rem;
    background-color:transparent;
    color: #727372;
    border:1px solid white;
    margin-left: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
      }

.fa-plus{
    font-size: 30px;
    padding-right: 15px;
}
